@font-face {
  font-family: 'Orbitron Bold';
  src: url('../webfonts/Orbitron-Medium.ttf');
  font-display: swap; 
}

/* Background */

html{
  background-color: #ede8e8;
  background-repeat: no-repeat;
  height: 100vh;
}

.App {
  text-align: center;
  color: white;
}

/* Make the scroll bar visible */

.display::-webkit-scrollbar {
  -webkit-appearance: none;
  width: 8px;
  height: .5rem;
}
.display::-webkit-scrollbar-thumb {
  border-radius: 4px;
  background-color: rgba(0, 0, 0, 0.204);
  box-shadow: 0 0 1px rgba(255,255,255,.5);
}



/* Calculator */

.App {
  border: 2px solid white;
  box-shadow: 0px 0px 5px 1px gray;
  border-radius: 15px;
  width: 30%;
  margin: 2rem auto 0;
  background-color: #183D3D;
}

@media (max-width: 102.8125rem) {
  .App {
    width: 35%;
  }
}

@media (max-width: 51.5rem) {
  .App {
    width: 40%;
  }
}

@media (max-width: 45.3125rem) {
  .App {
    width: 50%;
  }
}

@media (max-width: 34.8125rem) {
  .App {
    width: 60%;
  }
}

@media (max-width: 29.0625rem) {
  .App {
    width: 80%;
  }
}

@media (max-width: 21.875rem) {
  .App {
    width: 90%;
  }
}

.calculator-wrapper {
  margin: 1rem;
}

.box {
  border: 3px solid rgba(255, 255, 255, 0.623);
  border-radius: 15px;
  background-color: rgba(255, 255, 255, 0.226);
  padding-right: .5rem;
  padding-top: 0.5rem;
 
}

.display {
  color: rgb(0, 239, 76);
  overflow-x: scroll;
  padding-bottom: 0;
  height: fit-content;
  margin: auto;
  font-family: 'Orbitron Bold';
}


.calculation-display {
  margin: 0;
  padding: 0;
  text-align: right;
  font-size: 2.5rem;
  
}

