@font-face {
  font-family: 'Orbitron Bold';
  src: url('../webfonts/Orbitron-Medium.ttf');
  font-display: swap; 
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* Make the scroll bar visible */

.display::-webkit-scrollbar {
  -webkit-appearance: none;
  width: 8px;
  height: .5rem;
}
.display::-webkit-scrollbar-thumb {
  border-radius: 4px;
  background-color: rgba(0, 0, 0, 0.204);
  box-shadow: 0 0 1px rgba(255,255,255,.5);
}

/* Background */

html{
  background: linear-gradient(to right, #f9abab, #8181f4);
}

/* Calculator */

.App {
  border: 2px solid white;
  border-radius: 15px;
  width: 42%;
  margin: 2rem auto 0;
}

.calculator-wrapper {
  margin: 1rem;
}

.box {
  border: 3px solid rgba(255, 255, 255, 0.493);
  border-radius: 15px;
  height: 5rem;
  background-color: rgba(255, 255, 255, 0.226);
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.display {
  color: rgb(0, 0, 250);
  overflow-x: scroll;
  padding-bottom: 0;
  height: fit-content;
  margin: auto;
  font-family: 'Orbitron Bold';
}


.calculation-display {
  margin: 0;
  padding: 0;
  text-align: right;
  font-size: 2.5rem;
  
}

